.Gridcontainer {
    display: grid;
    grid-auto-rows: minmax(1fr,auto);
    /* grid-template-areas: 
    "head head head head head"
    ; */
    grid-gap: 10px;
}
.box {
    background-color: gray;
    color: white;
    text-align: center;
}
.head {
    grid-area: head;
}